.home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #161622;
  }

  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-logo {
    width: 300px;
    height:100px;
    margin-right: 20px;
  }
  
  .header-title {
    font-size: 50px;
    color: #01afc8;
    font-weight: bold;
  }
  
  .home-content {
    display: flex;
    flex: 1;
  }
  
  .home-sidebar {
    width: 250px;
    background-color: #161622;
    padding: 10px;
  }
  
  .home-main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e1e2f;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  
  .navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .nav-btn {
    padding: 10px 20px;
    background-color: #cadd5d;
    color: #1a1a1a;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav-btn:hover {
    background-color: #e4f78e;
  }
  