.filter-group {
    margin-bottom: 15px;
}

.filter-group h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #25238b;
}

.filter-group select,
.filter-group input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.filter-group select:focus,
.filter-group input:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.2);
}