.btn-portal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/portalImg.png');
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
  font-size: 20px;
  border: none;
  transition: transform 0.3s ease;
}

.btn-portal:hover {
  transform: scale(1.05);
}